<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auge.security.mapper.RoleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.auge.security.model.Role">
        <id column="ID" property="id"/>
        <result column="CODE" property="code"/>
        <result column="NAME" property="name"/>
        <result column="TYPE" property="type"/>
        <result column="ORGANIZATION_ID" property="organizationId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="UPDATE_USER_ID" property="updateUserId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, CODE AS code, NAME AS name, TYPE AS type, ORGANIZATION_ID AS organizationId, CREATE_TIME AS createTime, UPDATE_TIME AS updateTime, STATUS AS status, CREATE_USER_ID AS createUserId, UPDATE_USER_ID AS updateUserId
    </sql>
    <!-- 通用别名结果列 -->
    <sql id="Alias_Column_List">
        a.ID AS id,
        a.CODE AS code,
        a.NAME AS name,
        a.TYPE AS type,
        a.ORGANIZATION_ID AS organizationId,
        a.CREATE_TIME AS createTime,
        a.UPDATE_TIME AS updateTime,
        a.STATUS AS status,
        a.CREATE_USER_ID AS createUserId,
        a.UPDATE_USER_ID AS updateUserId,
    </sql>
</mapper>
